.divisor-style {
  height: 1px;
  background: #ffffff;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .divisor-style {
    margin-left: 4%;
    margin-right: 4%;
  }
}
