.container-projects {
  padding-top: 10px;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 420px;
  gap: 30px;
  margin: 15px;
  justify-items: center;
}
