body {
  background-color: #151515;
}

.body-font {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.body-font-underline {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
  text-decoration-color: #4ee1a0;
  -webkit-text-decoration-color: #4ee1a0; /* Safari */
}

.body-font-green {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #4ee1a0;
}

.heading-m-font {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.heading-l-font {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
  color: #ffffff;
}

.heading-xl-font {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.heading-xl-font-underline {
  font-family: 'Space Grotesk', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: #4ee1a0;
  -webkit-text-decoration-color: #4ee1a0; /* Safari */
}

.upperCaseFont {
  text-transform: uppercase;
}
