.container-introduction {
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.description-introduction {
  padding-top: 4%;
  padding-bottom: 4%;
}

.profile-img {
  padding-left: 4%;
  width: 260px;
  height: 360px;
  vertical-align: middle;
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  #text-introduction {
    order: 2;
  }

  #profile-img {
    order: 1;
  }

  .container-introduction {
    flex-flow: column;
  }

  .profile-img {
    padding-bottom: 5%;
  }

  .container-introduction {
    text-align: center;
    align-items: center;
  }

  .description-introduction {
    text-align: center;
  }

  .heading-l-font {
    font-size: 24px;
    line-height: 28px;
  }

  .heading-xl-font {
    font-size: 48px;
    line-height: 56px;
  }

  .heading-xl-font-underline {
    font-size: 48px;
    line-height: 56px;
  }

  .body-font-green {
    font-size: 16px;
  }
}
