.card-content {
  width: 350px;
  height: 250px;
  padding-top: 20px;
}

.card-title {
  padding-top: 20px;
}

.card-description {
  padding-top: 10px;
}

.card-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  padding-top: 15px;
  padding-bottom: 20px;
}

.card-actions a {
  transition: all 0.2s ease-in-out;
}

.card-actions a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.card-image {
  width: 350px;
  height: 250px;
}

@media (max-width: 768px) {
  .card-image {
    width: 290px;
    height: 250px;
  }
}
