.container-contact {
  margin-top: 50px;
  padding-top: 60px;
  background-color: #242424;
  padding-left: 8%;
  padding-right: 8%;
}

.contact-title {
  padding-bottom: 5%;
}

.contact-body {
  padding-top: 20px;
  padding-bottom: 5%;
}
