---
import '@fontsource/space-grotesk'
import '../styles/global.css'

import Navbar from '../components/Navbar/Navbar'
import Footer from '../components/Footer/Footer'
import Introduction from '../Sections/Introduction/Introduction'
import Skills from '../Sections/Skills/Skills'
import Contact from '../Sections/Contact/Contact'
import Projects from '../Sections/Projects/Projects'

import data from '../data/data.json'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={data.metadata.pageDescription} />
    <title>{data.metadata.pageTitle}</title>
  </head>
  <body>
    <Navbar profile={data.profile} />
    <Introduction profile={data.profile} />
    <Skills />
    <Projects projects={data.projects} />
    <Contact
      text={data.contact.text}
      linkedinUrl={data.profile.social.linkedin}
    />
    <Footer profile={data.profile} />
  </body>
</html>
