a {
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar-items {
  padding: 0;
}

.menu {
  display: flex;
  gap: 1px;
}

.menu img:hover {
  width: 26px;
  height: 26px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 25px;
}

@media (max-width: 768px) {
  .navbar {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    justify-content: center;
  }

  .menu {
    justify-content: center;
  }
}
