.container-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 50px;
  gap: 30px;
  margin: 15px;
  align-items: center;
  justify-items: center;
}

.title-skills {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
}

@media (max-width: 768px) {
  .container-skills {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
